@charset "utf-8";
/* CSS Document */
html body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 21px;
  word-spacing: 0px;
  letter-spacing: 0px;
  color: #545454;
}
ul, ol, dl {
  font-size: 13px;
}
.contenido .panel {
  border-style: solid;
  border-width: 1px;
  border-color: #DBD8D8;
  margin-bottom: 1.25rem;
  padding: 0.9rem;
  background: #f2f2f2;
  color: #696969;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
h4 {
  font-size: 1.2375rem;
}
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
  padding: 0;
}
.top-bar .name h1 a img {
    width: 380px;
}
.panel.sidepanel {
  color: #FFFFFF;
  background: #0083C3;
}
.top-bar .name {
  height: auto;
  margin: 0;
  font-size: 16px;
}
body .panel.sidepanel h4 {
  font-weight: 700;
  font-size: 1.2375rem;
  color: #fff;
}
table tr th,
table tr td {
  padding: 0.5625rem 0.625rem;
  font-size: inherit;
  color: inherit;
  text-align: left;
}
tr td:first-child {
  text-align: left !important;
}
.accordion .accordion-navigation > a, .accordion dd > a {
  background: #23A0DD;
  color: #D5F1FF;
  padding: 1rem;
  display: block;
  font-family: "Open Sans Condensed", Helvetica, Roboto, Arial, sans-serif;
  font-size: inherit;
  padding: 10px 20px;
  font-family: Lato;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  background: #305FBA;
}

li.menulink a {
  color: #FFFFFF;
  padding: 1rem;
  display: block;
  padding: 10px 20px;
  background: #23A0DD;
  color: #D5F1FF;
  padding: 1rem;
  display: block;
  font-family: "Open Sans Condensed", Helvetica, Roboto, Arial, sans-serif;
  font-size: inherit;
  padding: 10px 20px;
  font-family: Lato;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}

li.menulink a:hover {
  background: #305FBA;
}
body .contenido .panel ul>li:before {
  content: "\f00c";
  display: inline-block;
  position: static;
  margin-left: -1.77em;
  width: 1.357em;
  margin-right: 0.213em;
  font-family: FontAwesome;
  text-align: center;
  color: #fff;
}

body .contenido .panel ul>li:before {
  content: "\f054";
  position: absolute;
  color: #FFFFFF;
  background: rgba(137, 206, 240, 1);
  top: 2px;
  font-size: 12px;
}
body .contenido .panel ul>li {
padding-left: 1.67em;
}
li {
  list-style: none;
  position: relative;

}
ul,ol {
  margin-left: 0;
}
.accordion .accordion-navigation > .content, .accordion dd > .content {
  display: none;
  padding: 0;
}
body .accordion .content a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #305FBA;
  padding: 1rem;
  display: block;
  font-family: "Open Sans Condensed", Helvetica, Roboto, Arial, sans-serif;
  font-size: inherit;
  padding: 10px 20px;
  font-family: Lato;
  border-bottom: 1px solid rgba(169, 166, 166, 0.23);
  background: #ECECEC;
}
body .accordion .content a:hover {
  background: #DBDBDB;
}

div#principal {
  margin-top: 20px !important;
}

header {
  margin-top: 20px;
}
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
  background: #305FBA;
}
body .contenido #ofertas.panel ul>li {
    padding-left: 1.67em;

}
body .contenido #ofertas.panel ul>li:before {
    content: "\f06e";
    color: #23A0DD;
    background: rgba(137, 206, 240, 0);
    font-size: 14px;
    top: 0px;    margin-left: -1.57em;
}
body h1 {
  font-weight: 700;
  font-size: 23px;
  color: #23A0DD;
  margin-top: 0;
  font-family: "Open Sans Condensed", Helvetica, Roboto, Arial, sans-serif;
}
body h2 {
  font-weight: 700;
  font-size: 24px;
  color: #23A0DD;
  margin-top: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
body h3 {
  font-weight: 700;
  font-size: 24px;
  color: #23A0DD;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}
body h4 {
  font-weight: 700;
  font-size: 24px;
  color: #23A0DD;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

body .panel h4 {
  font-weight: 700;
  font-size: 20px;
  color: #23A0DD;
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}
.jobpanel p {
  font-size: 11px;
  background: #FAFAFA;
  color: #0083C3;
  padding: 0;

  font-weight: 800;
  text-transform: uppercase;
}
.jobdata h5 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #767676;
  line-height: 18px;
  border-bottom: 1px dotted #23A0DD;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.jobpanel p em,.jobpanel p i {
  font-style: normal !important;
  line-height: inherit;
}

.footer-top-part p {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #FFFFFF;
}
.footer-bottom-part p {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #848484;
}
.footer-top-part {
  padding-top: 20px;
  background-color: #0083C3;
  font-size: 13px;
  color: #fff;
}
.footer-bottom-part {
  padding: 0px 0;
  background: #E7E7E7;
}
body footer {
  margin-top: 50px;
}
button, .button:not(.postfix) {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #008fd5;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  display: inline-block;
  padding: 11px 21px;
  border-width: 3px;
  border-style: solid;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-color: #008fd5;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: rgba(0, 112, 149, 0);
  color: #008FD5;
  outline: none;
  border-color: #008FD5;
}
a#btn_consulta {
  border-radius: 0 !important;
  background-color: #008fd5;
}
a#btn_consulta:hover,
a#btn_consulta:hover {
  border-radius: 0 !important;
}
div#header {
  margin-top: 15px;
}

.info-top {
  right: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  top: 25px;
  background: #E0E0E0;
  padding-right: 10px;
  color: #0064AB;
  line-height: 21px;
    display: block;margin-bottom: 20px;
}
.info-top .textwidget {
  font-weight: 700;
}
.info-top i {
padding: 5px;
background-color: #199AD9;
color: #fff;
}
.top-bar-section {
  text-align: right;float: right;
}
button.small, .button.small {
  padding: 6px 20px;
  font-size: 12px;
}
table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 0px solid #111111;
  color: #fff;
  /* border: 0; */
}

table.dataTable thead th:active, table.dataTable thead td:active {
  outline: none;
  border: 0;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0;
}
footer .footer-top-part a {
  color: #BBE8FF;
}
table.dataTable {
  width: 800px;
  margin: 0 auto;
  clear: both;
  border-collapse: collapse;
  border-spacing: 0;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #C7C4C4;
}
table thead {
  background: #23A0DD;
  color: #fff;
  border-spacing: 0px;
  border-color: rgb(197, 197, 197);
  border-collapse: collapse;
}

body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #FFF !important;
  border: 1px solid rgba(179, 177, 177, 0.21);
  background: rgb(137, 206, 240);
  box-shadow: none;
  padding: 0.3em 0.7em;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button.current,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #FFFFFF !important;
  border: 1px solid #1795CB;
  background: rgb(0, 131, 195);
  padding: 0.3em 0.7em;
}


#panelResultados h4 {
  font-weight: 700;
  font-size: 20px;
  color: #23A0DD;
  margin-top: 0;
  font-family: "Open Sans Condensed", Helvetica, Roboto, Arial, sans-serif;
}
body p {
  font-size: 14px;
  line-height: 21px;
  word-spacing: 0px;
  letter-spacing: 0px;
  color: #545454;
}
#panelResultados ul:not(.pagination) a {
  background: rgba(0, 143, 213, 0);
  transition: background-color 300ms ease-out;
  display: inline-block;
  padding: 3px 10px;
  border-width: 3px;
  border-style: solid;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #008FD5;
  cursor: pointer;
  border-color: #008fd5;
}


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  border-radius: 0 !important;
}


button.large, .button.large {
  padding-top: inherit;
  padding-right: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  font-size: inherit;
  padding: 0;
  display: inline-block;
  padding: 11px 21px;
  border-width: 3px;
  border-style: solid;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  border-color: #008fd5;
}
body button.success, body .button.success {
  background-color: #43AC6A;
  border-color: #368a55;
  color: #FFFFFF;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: rgba(54, 138, 85, 0);
  color: #368A55 !important;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #FFFFFF;
  border-color: #F04124;
  color: #F04124 !important;
}
button.alert, .button.alert {
  background-color: #f04124;
  border-color: #F04124;
  color: #FFFFFF;
}

@media only screen and (min-width: 40.063em) {
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 40px;
  background: #23A0DD;
  color: #fff;
}
.top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
  border-top-style: solid;
  margin-top: -2.5px;
  top: 20px;
}
}
