@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);

html{
	height: 100%;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	height: 100%;
}

h2,h4{
	font-family: 'Lato', sans-serif;
}

.jobdata h5{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 200;
}

.jobpanel {
	width: 200px;
	height: 120px;
}
.jobpanel p{
	font-size: 12px;
}
.jobpanel a{
	margin-top: 15px;
}
.sidepanel{
	padding: 10px 0px 0px 0px;
}
.sidepanel h4{
	padding-left: 15px;
}
.sidepanel > ul, .sidepanel ul{
	list-style: none;
	margin-left: 0px;
}
.sidepanel .accordion .accordion-navigation > .content.active{
	background: #f2f2f2;
}
.editar > i{
	color: #e67e22;
}
.eliminar > i{
	color: #e74c3c;
}

#tabla_avance{
	border: none;
}

#tabla_avance td{
	height: 20px;
	width: 145px;
	background: #eaeaea;
}

#tabla_avance td.fill{
	height: 20px;
	width: 145px;
	background: #43AC6A;
}

#tabla_avance td.fill:hover{
	background: #8ecda5;
}

.jqte_editor{
	height: 150px;
}

.accordion .accordion-navigation a{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.menulink a{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #222222;
	padding: 1rem;
	display: block;
}

footer {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.footer-top-part{
	padding-top: 40px;
	background-color: #0083C3;
	font-size: 14px;
	text: white;
}

.footer-bottom-part {
	padding: 0px 0;
	background: #B7D0EB;
}

.footer-bottom-part p{
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.gob {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 160px;
	display: block;
}

.gob img{
	display: block;
	margin-bottom: -20px;
}

.widget-content h2{
	color: rgb(0, 0, 0);
	font-size: 1.2em;
	margin: 0 0 0.8em 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.21);
	padding-bottom: 8px;
	padding-top: 8px;
}

.button{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.contact-list{
	margin: 0;
	list-style-type: none;
	font-size: 14px;
}

.contact-list li i{
	margin-right: 10px;
}

.contenido{
	padding-bottom: 40px;
}

.btndash{
	border-radius: 0 !important;
}

#form_buscar{
	margin-top: 20px;
}
.postfix.button{
	background-color: #008fd5;
	border-color: #007095;
	color: #FFFFFF;
}
a.showButton{
	margin-top: 15%;
	display: none;
}
.btnwarning{
	background-color: #f08a24 !important;
	border-color: #cf6e0e !important;
	transition: background-color 300ms ease-out !important;
}

table.tablacv{
	width: 680px;
}

#reemp-list{
	counter-reset: li;
  	margin-left: 0;
  	padding-left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 15px;
}

#reemp-list>li:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;
	top: 0;
	left: -1.7em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 1.7em;
	margin-right: 8px;
	padding: 2px 4px;
	color: #0264AD;
	background: #D3D3D3;
	font-weight: bold;
	text-align: center;
}

#reemp-list>li{
	position: relative;
	margin: 0 0 6px 1.8em;
	padding: 2px 8px;
	list-style: none;
	background: #0092DE;
	color: #fff;
}

#reemp-list>li>a{
	color: #B7D0EB;
}

#lista-interna>li{
	list-style: disc;
}
.cvitem{
	color: #23A0DD;
  font-size: 13px;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 36px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 30px;
    vertical-align: middle;
    cursor: pointer;
		margin-bottom: 10px;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -30px;
}
label.css-label {
    background-image: url("../img/csscheckbox.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tabla_usuarios th{
	font-size: 12px;
}

#tabla_usuarios td{
	font-size: 11px;
}

#tabla_usuarios td.rut{
	font-size: 10px;
}

#tabla_postulaciones th{
	font-size: 12px;
}

#tabla_postulaciones td{
	font-size: 11px;
}

#tabla_postulaciones td.rut{
	font-size: 10px;
}

#tabla_datos {
	width: 100%;
}

p.small-text-left {
  margin-top: -10px;
  font-size: 11px;
  color: #999;
}

body #tabla_avance td:nth-child(1) {
	background: #24A3E1 !important;
}
body #tabla_avance td:nth-child(2) {
	background: #1090CF !important;
}

body #tabla_avance td:nth-child(3) {
	background: #0083C3 !important;
}
body #tabla_avance td:nth-child(4) {
	background: #0979B0 !important;
}

#tabla_avance td:after{
	content: "\f00c";
	display: inline-block;
	position: relative;
	margin-left: auto;
	width: 100%;
	margin-right: auto;
    font-family: FontAwesome;
	text-align: center;
    color: #fff;
	font-size: 40px;
	background-color: rgba(0, 0, 0, 0.07);
	margin: 0 auto;
	padding: 20px 20px;
}
#tabla_avance td:before{
	content: "Selección";
    display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
    color: #fff;
	min-height: 38px;
}

body #tabla_avance td:nth-child(1):after {
	content: "\f15c";
}
body #tabla_avance td:nth-child(2):after {
	content: "\f007";
}

body #tabla_avance td:nth-child(3):after {
	content: "\f234";
}
body #tabla_avance td:nth-child(4):after {
	content: "\f046";
}

body #tabla_avance td:nth-child(1):before {
content: "Recepción de Curriculum";
}
body #tabla_avance td:nth-child(2):before {
content: "Entrevista Psicológica";
}

body #tabla_avance td:nth-child(3):before {
content: "Entrevista Personal";
}
body #tabla_avance td:nth-child(4):before {
content: "Selección";
}

#tabla_avance {
    border: none;
	width:100%;
    text-align: center;
    margin-bottom: 0;
}
#info_avance ul {
	float:left;
	width: 100%;
	display:block !important;
	margin-bottom: 0;
	vertical-align: top;
}


table#info_avance td:nth-child(1) {
	background: #D1E8F3;
}
table#info_avance td:nth-child(2) {
	background: #C3DBE6;
}

table#info_avance td:nth-child(3) {
	background: #B5D3E0;
}
table#info_avance td:nth-child(4) {
	background: #A6CADA;
}

.panel_avance h3 strong {
    color: #545454;
    font-weight: 400;
    letter-spacing: 1px;
}

#modalAvance h3 strong {
    color: #545454;
    font-weight: 400;
    letter-spacing: 1px;
}

#tabla_avance td.fill {
    height: 20px;
    width: 145px;
    background: #43AC6A;
}
#info_avance {
    border: none;
    width: 100%;
    text-align: center;
    vertical-align: top;
    font-weight: 700;
    color: #0F86C1;
}

table#info_avance td.fill {
    vertical-align: top;
		width: 145px;
}
